<div id="news-categories">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2 class="dark">Categories</h2>
            </div>
        </div>

        <div class="row no-pad">
            <div class="col l4 m12 s12"><a class="category-link" href="/category/bakers-dozen">Baker's Dozen</a></div>

            <div class="col l4 m12 s12"><a class="category-link" href="/category/community">Community</a></div>

            <div class="col l4 m12 s12"><a class="category-link" href="/category/games">Games</a></div>

        </div>
        <div class="row no-pad">
            <div class="col l4 m12 s12"><a class="category-link" href="/category/insomniac">Insomniac</a></div>

            <div class="col l4 m12 s12"><a class="category-link" href="/category/moonlighting">Moonlighting</a></div>

            <div class="col l4 m12 s12"><a class="category-link" href="/category/news">News</a></div>

        </div>
        <div class="row no-pad">
            <div class="col l4 m12 s12"><a class="category-link" href="/category/ratchet-and-clank-series">Ratchet &amp;
                    Clank Series</a></div>

            <div class="col l4 m12 s12"><a class="category-link" href="/category/seedling">Seedling</a></div>

            <div class="col l4 m12 s12"><a class="category-link" href="/category/spotlight">Spotlight</a></div>

        </div>
        <div class="row no-pad">
            <div class="col l4 m12 s12"><a class="category-link" href="/category/strangelets">Strangelets</a></div>

            <div class="col l4 m12 s12"><a class="category-link" href="/category/sunset-overdrive">Sunset Overdrive</a>
            </div>

            <div class="col l4 m12 s12"><a class="category-link" href="/category/the-unspoken">The Unspoken</a></div>

        </div>
        <div class="row no-pad">
            <div class="col l4 m12 s12"><a class="category-link" href="/category/uncategorized">Uncategorized</a></div>


        </div>
    </div>
</div>