<footer class="footer">
    <div class="footer-section footer-gray">
      <div class="container">
        <div class="row">
          <div class="col l3 m3 s12">
                <a href="/games"><strong>Games</strong></a>
                  <div class="menu-footer-games-container"><ul id="menu-footer-games" class=""><li id="menu-item-2477" class="menu-item menu-item-type-post_type menu-item-object-game menu-item-2477"><a href="https://insomniac.games/game/marvels-spider-man-remastered-pc/">Marvel’s Spider-Man Remastered (PC)</a></li>
<li id="menu-item-2479" class="menu-item menu-item-type-post_type menu-item-object-game menu-item-2479"><a href="https://insomniac.games/game/marvels-spider-man-2/">Marvel’s Spider-Man 2</a></li>
<li id="menu-item-2478" class="menu-item menu-item-type-post_type menu-item-object-game menu-item-2478"><a href="https://insomniac.games/game/marvels-wolverine/">Marvel’s Wolverine</a></li>
<li id="menu-item-2480" class="menu-item menu-item-type-post_type menu-item-object-game menu-item-2480"><a href="https://insomniac.games/game/ratchet-clank-rift-apart/">Ratchet &#038; Clank: Rift Apart</a></li>
<li id="menu-item-2481" class="menu-item menu-item-type-post_type menu-item-object-game menu-item-2481"><a href="https://insomniac.games/game/marvels-spider-man-miles-morales/">Marvel’s Spider-Man: Miles Morales</a></li>
<li id="menu-item-432" class="menu-item menu-item-type-post_type menu-item-object-game menu-item-432"><a href="https://insomniac.games/game/spider-man-ps4/">Marvel’s Spider-Man (PS4)</a></li>
<li id="menu-item-2482" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2482"><a href="#">© 2022 MARVEL</a></li>
</ul></div>              </div>

          <div class="col l3 m3 s12">
                <a href="/careers"><strong>Careers</strong></a>
                <div class="menu-footer-careers-container"><ul id="menu-footer-careers" class=""><li id="menu-item-438" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-438"><a href="/careers/#careers-benefits">Working At Insomniac</a></li>
<li id="menu-item-437" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-437"><a href="/careers/#careers-job-openings">Job Openings</a></li>
<li id="menu-item-439" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-439"><a href="https://insomniac.games/category/moonlighting/">Moonlighting</a></li>
<li id="menu-item-440" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-440"><a href="https://insomniac.games/category/bakers-dozen/">Baker&#8217;s Dozen</a></li>
<li id="menu-item-1744" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1744"><a href="/careers/#home-contact-wrapper">Career Inquiries</a></li>
</ul></div>              </div>

          <div class="col l3 m3 s12">
                <a href="/community"><strong>Community</strong></a>
                <div class="menu-footer-community-container"><ul id="menu-footer-community" class=""><li id="menu-item-1747" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1747"><a href="https://insomniac.games/press-media/">Press &#038; Media</a></li>
<li id="menu-item-445" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-445"><a target="_blank" rel="noopener" href="https://discord.gg/insomniacgames">Discord</a></li>
<li id="menu-item-441" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-441"><a target="_blank" rel="noopener" href="https://twitter.com/insomniacgames">Twitter</a></li>
<li id="menu-item-442" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-442"><a target="_blank" rel="noopener" href="https://www.facebook.com/insomniacgames/">Facebook</a></li>
<li id="menu-item-443" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-443"><a target="_blank" rel="noopener" href="https://www.instagram.com/insomniacgames/">Instagram</a></li>
<li id="menu-item-444" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-444"><a target="_blank" rel="noopener" href="https://www.reddit.com/r/InsomniacGames/">Reddit</a></li>
<li id="menu-item-447" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-447"><a target="_blank" rel="noopener" href="https://www.youtube.com/user/insomgames">YouTube</a></li>
<li id="menu-item-446" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-446"><a target="_blank" rel="noopener" href="https://www.twitch.tv/insomniacgames">Twitch</a></li>
</ul></div>              </div>

          <div class="col l3 m3 s12">
                <a href="https://support.insomniac.games" target="_blank"><strong>Contact Us</strong></a>
                <div class="menu-footer-contact-container"><ul id="menu-footer-contact" class=""><li id="menu-item-1743" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1743"><a target="_blank" rel="noopener" href="https://support.insomniac.games">Game Support</a></li>
<li id="menu-item-448" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-448"><a href="https://insomniac.games/terms-of-use/">Terms Of Use</a></li>
<li id="menu-item-1798" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1798"><a target="_blank" rel="noopener" href="https://www.playstation.com/en-us/network/legal/privacy-policy/">Privacy Policy</a></li>
</ul></div>              </div>
        </div>
      </div>
    </div>

    <div class="footer-section footer-dark-gray" id="footer-bottom">
        <div class="container">
          <div class="row">
               <div class="col m3 s12">
                    <div class="valign-wrapper">
                        <a href="/"><img src="https://insomniacgames.wpenginepowered.com/wp-content/themes/insomniacgames/images/insomniac-games-logo-dark.svg" style="width:57%;" alt="Insomniac Games" title="Insomniac Games"></a>
                    </div>
                </div>
                <div class="col m3 s12">
                    <div class="valign-wrapper">
                        <!-- <img src="https://insomniacgames.wpenginepowered.com/wp-content/uploads/2021/05/PS_Studios_footer.png" style="width:109px" alt="Insomniac Games" title="Insomniac Games"> -->
                        <img src="https://insomniacgames.wpenginepowered.com/wp-content/uploads/2021/05/PS_Studios_footer.svg" style="width:40%;" alt="Insomniac Games" title="Insomniac Games">
                    </div>
                </div>
               <div class="col m3 s12">
                    <div class="valign-wrapper">
                        <p><strong>Burbank Studio</strong><br />
2255 N Ontario St.<br />
Suite 550<br />
Burbank, CA 91504</p>
                     </div>
               
               </div>
               <div class="col m3 s12">
                    <div class="valign-wrapper">
                        <p><strong>Durham Studio</strong><br />
7806 NC Highway 751<br />
Suite 300<br />
Durham, NC 27713</p>
                    </div>
             </div>
           </div>
        </div>
    </div>
</footer>