<div class="container">
    <div class="row">
        <div class="col s12">
            <h2>Contact Insomniac HR</h2>
        </div>
    </div>


    <div id="support-form" style="display: none;">
        <div class="row form-wrapper">
            <div class="col l8 m12 s12 left eh">
                <p class="gform_not_found">Oops! We could not locate your form.</p>
            </div>
            <div class="col l4 m12 s12 right eh">
                <div class="faq-wrapper">
                    <h3 class="title">Frequently Asked Questions</h3>
                    <div class="faq">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="gi-form">
        <div class="row form-wrapper" style="display: none;">
            <div class="col l8 m12 s12 left eh">
                <p class="gform_not_found">Oops! We could not locate your form.</p>
            </div>
            <div class="col l4 m12 s12 right eh">
                <div class="faq-wrapper">
                    <h3 class="title">Frequently Asked Questions</h3>
                    <div class="faq">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="press-form">
        <div class="row form-wrapper" style="display: none;">
            <div class="col l8 m12 s12 left eh">
                <p class="gform_not_found">Oops! We could not locate your form.</p>
            </div>
            <div class="col l4 m12 s12 right eh">
                <div class="faq-wrapper">
                    <h3 class="title">Frequently Asked Questions</h3>
                    <div class="faq">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="careers-form" style="display: block;" class="active">
        <div class="row form-wrapper">
            <div class="col l8 m12 s12 left eh">
                <script type="text/javascript"></script>
                <div class='gf_browser_chrome gform_wrapper gform_legacy_markup_wrapper' id='gform_wrapper_4'>
                    <div id='gf_4' class='gform_anchor' tabindex='-1'></div>
                    <div class='gform_heading'>
                        <h3 class="gform_title">Careers</h3>
                        <span class='gform_description'></span>
                    </div>
                    <form method='post' enctype='multipart/form-data' id='gform_4' action='/careers/#gf_4'>
                        <div class='gf_invisible ginput_recaptchav3'
                            data-sitekey='6LdpzUkhAAAAAHQHQeUUR-_lutSFuvE6ro8f9M7X' data-tabindex='1000'><input
                                id="input_57d0676bd1813fc0035748bcba1617d1" class="gfield_recaptcha_response"
                                type="hidden" name="input_57d0676bd1813fc0035748bcba1617d1" value="" /></div>
                        <div class='gform_body gform-body'>
                            <ul id='gform_fields_4'
                                class='gform_fields top_label form_sublabel_below description_below'>
                                <li id="field_4_1"
                                    class="gfield gf_left_half gfield_contains_required field_sublabel_below field_description_below gfield_visibility_visible"
                                    data-js-reload="field_4_1"><label class='gfield_label' for='input_4_1'>Name<span
                                            class="gfield_required"><span
                                                class="gfield_required gfield_required_asterisk">*</span></span></label>
                                    <div class='ginput_container ginput_container_text'><input name='input_1'
                                            id='input_4_1' type='text' value='' class='medium' tabindex='1001'
                                            aria-required="true" aria-invalid="false" /> </div>
                                </li>
                                <li id="field_4_2"
                                    class="gfield gf_right_half gfield_contains_required field_sublabel_below field_description_below gfield_visibility_visible"
                                    data-js-reload="field_4_2"><label
                                        class='gfield_label gfield_label_before_complex'>Email<span
                                            class="gfield_required"><span
                                                class="gfield_required gfield_required_asterisk">*</span></span></label>
                                    <div class='ginput_complex ginput_container ginput_container_email'
                                        id='input_4_2_container'>
                                        <span id='input_4_2_1_container' class='ginput_left'>
                                            <input class='' type='text' name='input_2' id='input_4_2' value=''
                                                tabindex='1002' aria-required="true" aria-invalid="false" />
                                            <label for='input_4_2'>Enter Email</label>
                                        </span>
                                        <span id='input_4_2_2_container' class='ginput_right'>
                                            <input class='' type='text' name='input_2_2' id='input_4_2_2' value=''
                                                tabindex='1003' aria-required="true" aria-invalid="false" />
                                            <label for='input_4_2_2'>Confirm Email</label>
                                        </span>
                                        <div class='gf_clear gf_clear_complex'></div>
                                    </div>
                                </li>
                                <li id="field_4_3"
                                    class="gfield gfield_contains_required field_sublabel_below field_description_below gfield_visibility_visible"
                                    data-js-reload="field_4_3"><label class='gfield_label' for='input_4_3'>How Can We
                                        Help?<span class="gfield_required"><span
                                                class="gfield_required gfield_required_asterisk">*</span></span></label>
                                    <div class='ginput_container ginput_container_textarea'><textarea name='input_3'
                                            id='input_4_3' class='textarea small' tabindex='1004' aria-required="true"
                                            aria-invalid="false" rows='10' cols='50'></textarea></div>
                                </li>
                                <li id="field_4_4"
                                    class="gfield gform_validation_container field_sublabel_below field_description_below gfield_visibility_visible"
                                    data-js-reload="field_4_4"><label class='gfield_label' for='input_4_4'>Name</label>
                                    <div class='ginput_container'><input name='input_4' id='input_4_4' type='text'
                                            value='' /></div>
                                    <div class='gfield_description' id='gfield_description_4_4'>This field is for
                                        validation purposes and should be left unchanged.</div>
                                </li>
                            </ul>
                        </div>
                        <div class='gform_footer top_label'> <input type='submit' id='gform_submit_button_4'
                                class='gform_button button' value='Submit' tabindex='1005'
                                onclick='if(window["gf_submitting_4"]){return false;}  window["gf_submitting_4"]=true;  '
                                onkeypress='if( event.keyCode == 13 ){ if(window["gf_submitting_4"]){return false;} window["gf_submitting_4"]=true;  jQuery("#gform_4").trigger("submit",[true]); }' />
                            <input type='hidden' class='gform_hidden' name='is_submit_4' value='1' />
                            <input type='hidden' class='gform_hidden' name='gform_submit' value='4' />

                            <input type='hidden' class='gform_hidden' name='gform_unique_id' value='' />
                            <input type='hidden' class='gform_hidden' name='state_4'
                                value='WyJbXSIsImE0NWE1NjgzYmY4ZjE4YzFjNzU2N2JmMTYzMjQ3NzMwIl0=' />
                            <input type='hidden' class='gform_hidden' name='gform_target_page_number_4'
                                id='gform_target_page_number_4' value='0' />
                            <input type='hidden' class='gform_hidden' name='gform_source_page_number_4'
                                id='gform_source_page_number_4' value='1' />
                            <input type='hidden' name='gform_field_values' value='' />

                        </div>
                    </form>
                </div>
            </div>
            <div class="col l4 m12 s12 right eh">
                <div class="faq-wrapper">
                    <h3 class="title">Frequently Asked Questions</h3>
                    <div class="faq">
                        <p><strong>A recruiter/HR person, claiming to be from Insomniac reached out to me, and asked me
                                to download an app to apply. Is this real or a scam?</strong><br />
                            Any communication coming from Insomniac Games will come from the @insomniacgames.com domain.
                            Any other domain is not from Insomniac. Additionally, our recruiting team corresponds with
                            all candidates via email and all interviews are conducted currently via Zoom; never through
                            text, or any other app. Should you receive a suspicious email- <a
                                href="mailto:hrinfo@insomniacgames.com">please reach out</a> via this form and we can
                            verify if we indeed sent the email.</p>
                        <p><strong>What If I don’t see a job that fits my skill set? How often do you update your
                                jobs?</strong><br />
                            Please keep an eye on our website for the role that does fit your skill set. We are always
                            posting new opportunities, and look forward to hearing from you.</p>
                        <p><strong>When will I hear from you about my application?</strong><br />
                            We review all submissions within 72 hours and reach out to qualified candidates within 7-10
                            days.</p>
                        <p><strong>Do you offer internships?</strong><br />
                            Yes, we do! We post our internships in the fall for the upcoming spring/summer. Our interns
                            are active participants in the creation of our games, and we look forward to this program
                            each year. To be eligible, one could be an individual with limited experience 6-12 months in
                            a chosen field, be a student (undergrad and grad), or a recent graduate (within 12 months of
                            graduation). We view our internships as a fantastic way to launch into the creative games
                            space.</p>
                        <p><strong>How do I get into the video game industry?</strong><br />
                            While we cannot advise you on which school to attend or the classes to take, we do encourage
                            you to go to school. Most of our artists have BFA’s and our programmers have computer
                            science or engineering degrees. Your school’s academic advisers can suggest specific
                            programs. While in college or a specialized game school, try to get an internship to gain
                            on-the-job experience.</p>
                        <p><strong>What should be on my demo reel or online portfolio?</strong><br />
                            We recommend only putting your best work on your demo reel or online portfolio. A concise
                            reel is always appreciated – we will ask to see more work if we need to.</p>
                        <p><strong>Does Insomniac offer remote work?</strong><br />
                            Yes- we do! We learned through the pandemic that great things can still happen &#8211; even
                            when developers are not in the same office! We do require that you are eligible to work in
                            the United States, live in the US, and are located in a state that Insomniac can support
                            remote workers. If you have questions on this, as with any other question &#8211; <a
                                href="mailto:hrinfo@insomniacgames.com">please reach out</a> via this form and we can
                            clarify.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>