.container .row {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
}

.row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

#home-contact-wrapper .form-wrapper {
    margin-top: 50px;
}

#home-contact-wrapper .form-wrapper, .z-depth-2 {
    box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%), 0 2px 4px -1px rgb(0 0 0 / 30%);
}

.container .row {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
}

.row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

#careers-form .left {
    background-color: #FFF;
    padding: 25px;
    height: 100%;
}


#careers-form .right {
    padding: 25px;
    background-color: #f2efec;
    color: #48707A;
    font-size: 14px;
    font-size: .875rem;
    line-height: 21px;
    line-height: 1.3125rem;
    height: 100%;
}


@media only screen and (min-width: 993px){
    .row .col.l4 {
        width: 33.3333333333%;
    }
    .row .col.l8 {
        width: 66.6666666667%;
    }
}

.col.l8 {
    flex: 1 0 66.6666666667%;
}

.col.l4 {
    flex: 1 0 33.3333333333%;
}

.form-wrapper{
    background-color: #fff;
}

#gform_wrapper_1 h3, #gform_wrapper_2 h3, #gform_wrapper_3 h3, #gform_wrapper_4 h3 {
    color: #546e7a;
    line-height: 1;
    padding: 0;
    margin: 0;
}

.gform_legacy_markup_wrapper h3.gform_title {
    letter-spacing: normal!important;
    margin: 10px 0 6px 0;
}

.gform_legacy_markup_wrapper span.gform_description {
    font-weight: 400;
    display: block;
    width: calc(100% - 16px);
    margin-bottom: 16px;
}

.gform_legacy_markup_wrapper ul li:after, .gform_legacy_markup_wrapper ul li:before, .gform_legacy_markup_wrapper ul.gform_fields {
    padding: 0;
    margin: 0;
    overflow: visible;
}

.gform_legacy_markup_wrapper ul.gform_fields {
    margin: 0!important;
    list-style-type: none;
    display: block;
}



body .gform_legacy_markup_wrapper ul li.gfield {
    margin-top: 16px;
    padding-top: 0;
}

.gform_legacy_markup_wrapper ul li.gfield {
    clear: both;
}

.gform_legacy_markup_wrapper form li, .gform_legacy_markup_wrapper li {
    margin-left: 0!important;
    list-style-type: none!important;
    list-style-image: none!important;
    list-style: none!important;
    overflow: visible;
}

.gform_legacy_markup_wrapper .top_label .gfield_label, .gform_legacy_markup_wrapper legend.gfield_label {
    display: -moz-inline-stack;
    display: inline-block;
    line-height: 1.3;
    clear: both;
}
label {
    font-size: .8rem;
    color: #9e9e9e;
}

@media only screen and (min-width: 641px){
    .gform_wrapper .top_label li.gfield.gf_left_half, .gform_wrapper .top_label li.gfield.gf_right_half {
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: top;
        width: 50%;
        padding-right: 16px;
        float: none;
    }
    .gform_wrapper .top_label li.gfield.gf_left_half+.gform_footer, .gform_wrapper .top_label li.gfield.gf_left_half+li.gfield, .gform_wrapper .top_label li.gfield.gf_right_half+.gform_footer, .gform_wrapper .top_label li.gfield.gf_right_half+li.gfield {
        clear: both;
    }
    .gform_wrapper .top_label li.gfield.gf_left_half+.gform_footer, .gform_wrapper .top_label li.gfield.gf_left_half+li.gfield, .gform_wrapper .top_label li.gfield.gf_right_half+.gform_footer, .gform_wrapper .top_label li.gfield.gf_right_half+li.gfield {
        clear: both;
    }
    .gform_wrapper .top_label li.gfield.gf_left_half .ginput_container:not(.gfield_time_hour):not(.gfield_time_minute):not(.gfield_time_ampm):not(.ginput_container_date):not(.ginput_quantity):not(.datepicker):not(.gfield_signature_container), .gform_wrapper .top_label li.gfield.gf_right_half .ginput_container:not(.gfield_time_hour):not(.gfield_time_minute):not(.gfield_time_ampm):not(.ginput_container_date):not(.ginput_quantity):not(.datepicker):not(.gfield_signature_container) {
        width: 100%!important;
        margin: 8px 0 0 0;
        padding-left: 0;
        padding-right: 0;
    }
    .gform_wrapper .top_label li.gfield.gf_left_half div:not(.ginput_container_date) input.large, .gform_wrapper .top_label li.gfield.gf_left_half div:not(.ginput_container_date) input.medium, .gform_wrapper .top_label li.gfield.gf_left_half div:not(.ginput_container_date) select.large, .gform_wrapper .top_label li.gfield.gf_left_half div:not(.ginput_container_date) select.medium, .gform_wrapper .top_label li.gfield.gf_right_half div:not(.ginput_container_date) input.large, .gform_wrapper .top_label li.gfield.gf_right_half div:not(.ginput_container_date) input.medium, .gform_wrapper .top_label li.gfield.gf_right_half div:not(.ginput_container_date) select.large, .gform_wrapper .top_label li.gfield.gf_right_half div:not(.ginput_container_date) select.medium {
        width: 100%;
    }
    .gform_legacy_markup_wrapper .top_label input.medium, .gform_legacy_markup_wrapper .top_label select.medium {
        width: calc(50% - 8px);
    }
    .gform_legacy_markup_wrapper .ginput_complex.ginput_container.ginput_container_email .ginput_left, .gform_legacy_markup_wrapper .ginput_complex.ginput_container.ginput_container_email .ginput_right {
        padding-right: 16px;
    }
    .gform_legacy_markup_wrapper .ginput_complex .ginput_left, .gform_legacy_markup_wrapper .ginput_complex .ginput_right {
        width: 50%;
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: top;
        margin: 0 -4px 0 0;
    }
    .gform_legacy_markup_wrapper .ginput_complex .ginput_left {
        padding-right: 8px;
    }
}

.gform_legacy_markup_wrapper .ginput_complex .ginput_full, .gform_legacy_markup_wrapper .ginput_complex .ginput_left, .gform_legacy_markup_wrapper .ginput_complex .ginput_right {
    min-height: 45px;
}

input:not([type]), input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], .textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: 0;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 20px;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all .3s;
}

.gform_legacy_markup_wrapper label.gfield_label, .gform_legacy_markup_wrapper legend.gfield_label {
    font-weight: 700;
    font-size: inherit;
}
.gform_wrapper .gfield_label {
    font-weight: 300!important;
    margin-top: 5px;
}

.gform_legacy_markup_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
    font-size: inherit;
    font-family: inherit;
    padding: 5px 0;
    letter-spacing: normal;
}

.gform_legacy_markup_wrapper textarea {
    font-size: inherit;
    font-family: inherit;
    letter-spacing: normal;
    padding: 6px 8px;
    line-height: 1.5;
    resize: none;
}

.gform_legacy_markup_wrapper textarea {
    font-size: inherit;
    font-family: inherit;
    letter-spacing: normal;
    padding: 6px 8px;
    line-height: 1.5;
    resize: none;
    width: 97%;
}
.gform_wrapper .gform_footer {
    text-align: right;
}
.gform_legacy_markup_wrapper .gform_footer {
    padding: 16px 0 10px 0;
    margin: 16px 0 0 0;
    clear: both;
    width: 100%;
}
.form-wrapper h3 {
    color: #546e7a;
    font-weight: 700;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 30px;
    line-height: 1.875rem;
}
h2, h3, h4 {
    font-family: Montserrat,sans-serif;
    line-height: 1;
    margin: 0;
    padding: 0;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #FFF;
}