/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body{
    font-family: 'Montserrat', sans-serif;
}



h2{
    font-family: Montserrat,sans-serif;
    line-height: 1;
    margin: 0;
    padding: 0;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #FFF;
}
h2:after, h3:after, h4:after {
    margin-top: 20px;
    margin-bottom: 0;
    content: '';
    display: block;
    width: 80px;
    height: 3px;
    background-color: rgba(255,255,255,.7);
}

.btn, .btn-large, .button, button {
    text-decoration: none;
    color: #fff;
    background-color: #48707A;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
}
.btn, .btn-flat, .btn-large, .button, button {
    border: none;
    border-radius: 36px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 2rem;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
}
a {
    color: #48707A;
    text-decoration: none;
}