  <footer class="footer-section footer-gray">
    <div class="container p-4 pb-0">
      <section class="">
        <div class="row">
          <div class="col l3 m3 s12">
              <a href="#" class="text-uppercase mb-4 font-weight-bold">Games</a>
              <div class="menu-footer-games-container">
                <ul class="menu-footer-games">
                  <li>
                    <a class="text-white">MDBootstrap</a>
                  </li>
                  <li>
                   <a class="text-white">MDWordPress</a>
                  </li>
                  <li>
                    <a class="text-white">BrandFlow</a>
                  </li>
                  <li>
                    <a class="text-white">Bootstrap Angular</a>
                  </li>
                </ul>
              </div>
          </div>
          <div class="col l3 m3 s12">
            <a href="#" class="text-uppercase mb-4 font-weight-bold">Careers</a>
            <div class="menu-footer-games-container">
              <ul class="menu-footer-games">
                <li>
                  <a class="text-white">MDBootstrap</a>
                </li>
                <li>
                  <a class="text-white">MDWordPress</a>
                </li>
                <li>
                  <a class="text-white">BrandFlow</a>
                </li>
                <li>
                  <a class="text-white">Bootstrap Angular</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col l3 m3 s12">
            <a href="#" class="text-uppercase mb-4 font-weight-bold">Community</a>
            <div class="menu-footer-games-container">
              <ul class="menu-footer-games">
                <li>
                  <a class="text-white">Your Account</a>
                </li>
                <li>
                  <a class="text-white">Become an Affiliate</a>
                </li>
                <li>
                  <a class="text-white">Shipping Rates</a>
                </li>
                <li>
                  <a class="text-white">Help</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col l3 m3 s12">
            <a href="#" class="text-uppercase mb-4 font-weight-bold">Contact Us</a>
            <div class="menu-footer-games-container">
              <ul class="menu-footer-games">
                <li>
                  <a class="text-white">MDBootstrap</a>
                </li>
                <li>
                  <a class="text-white">MDWordPress</a>
                </li>
                <li>
                  <a class="text-white">BrandFlow</a>
                </li>
                <li>
                  <a class="text-white">Bootstrap Angular</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div>
  </footer>
